<br/>
<div class="container-fluid background-black text-white">
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3 class="text-center">Contactez-moi!</h3>
          <p class="text-center">
            <ul class="list-inline list-unstyled list-social">
              <li><a class="li-social" id="facebook" href="https://www.facebook.com/PortfolioAnaisHervouin/" title="facebook"></a></li>
              <li><a class="li-social" id="linkedin" href="https://fr.linkedin.com/in/anaishervouin" title="linkedin"></a></li>
              <li><a class="li-social" id="viadeo" href="http://fr.viadeo.com/fr/profile/ana%C3%AFs.hervouin" title="viadeo"></a></li>
            </ul>
          </p>
        </div>
        <div class="col-md-4">
          <h3 class="text-center">Informations</h3>
          <p class="text-justify">
            Site créé avec Symfony, intégré avec Boostrap.<br/>
            Fonctionne sous mobile et tablette.<br/>
            Anaïs Hervouin - 2017.
          </p>
        </div>
      </div>
    </div>
  </footer>
</div>

