{% extends 'layout.html.twig' %}

{% block title %}Anaïs Hervouin | Curriculum Vitae{% endblock %}

{% block container %}
  <div id="page-column-onethird-twothird" class="container">
    <div id="summary" class="lead">
      <h1 class="text-center">Mon ambition</h1>
      Développeuse web PHP avec un profil Full stack en recherche de challenge sur divers projets.<br/>
      Mon objectif sur le long terme, est de pouvoir partager mon expérience en devenant experte technique dans mon domaine d'expertise.
    </div>
    <hr/>
    <div id="experiences">
      <h1 class="text-center">Expériences </h1>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Janvier 2015 <br/>-<br/> Aujourd'hui</p>
        </div>
        <div class="col-md-10">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi vitae leo turpis. In fringilla tempor diam, eget elementum quam vehicula gravida.
          Mauris et libero arcu. Nulla pulvinar neque orci.
          Vestibulum laoreet bibendum est et scelerisque.
          Sed blandit feugiat ultrices. Nulla quis ex tempus enim pellentesque sodales.
          Vestibulum lacinia est arcu, nec egestas ipsum tempus eget.
          Aliquam lacinia nunc sed justo sagittis cursus.
          Vestibulum consectetur felis elit, a semper enim vulputate ut.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Janvier 2015 <br/>-<br/> Aujourd'hui</p>
        </div>
        <div class="col-md-10">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi vitae leo turpis. In fringilla tempor diam, eget elementum quam vehicula gravida.
          Mauris et libero arcu. Nulla pulvinar neque orci.
          Vestibulum laoreet bibendum est et scelerisque.
          Sed blandit feugiat ultrices. Nulla quis ex tempus enim pellentesque sodales.
          Vestibulum lacinia est arcu, nec egestas ipsum tempus eget.
          Aliquam lacinia nunc sed justo sagittis cursus.
          Vestibulum consectetur felis elit, a semper enim vulputate ut.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Janvier 2015 <br/>-<br/> Aujourd'hui</p>
        </div>
        <div class="col-md-10">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi vitae leo turpis. In fringilla tempor diam, eget elementum quam vehicula gravida.
          Mauris et libero arcu. Nulla pulvinar neque orci.
          Vestibulum laoreet bibendum est et scelerisque.
          Sed blandit feugiat ultrices. Nulla quis ex tempus enim pellentesque sodales.
          Vestibulum lacinia est arcu, nec egestas ipsum tempus eget.
          Aliquam lacinia nunc sed justo sagittis cursus.
          Vestibulum consectetur felis elit, a semper enim vulputate ut.
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div id="competences">
      <h1 class="text-center">Compétences</h1>
      <h2 class="text-center"><small>Développement</small></h2>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>PHP</h3>
        </div>
        <div class="col-md-4">
          <h3>Drupal (7-8)</h3>
        </div>
        <div class="col-md-4">
          <h3>Symfony (2-3)</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>JQuery</h3>
        </div>
        <div class="col-md-4">
          <h3>Javascript</h3>
        </div>
        <div class="col-md-4">
          <h3>Ajax</h3>
        </div>
      </div>
      <h2 class="text-center"><small>Intégration</small></h2>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>HTML 5</h3>
        </div>
        <div class="col-md-4">
          <h3>CSS 3</h3>
        </div>
        <div class="col-md-4">
          <h3>Less</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-12">
          <h3>Bootstrap</h3>
        </div>
      </div>
      <h2 class="text-center"><small>Atouts</small></h2>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>Java</h3>
        </div>
        <div class="col-md-4">
          <h3>Liferay 6.2</h3>
        </div>
      </div>
    </div>
    <hr/>
    <div id="formations">
      <h1 class="text-center">Formations</h1>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-blue text-white">Janvier 2015 <br/>-<br/> Aujourd'hui</p>
        </div>
        <div class="col-md-10">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi vitae leo turpis. In fringilla tempor diam, eget elementum quam vehicula gravida.
          Mauris et libero arcu. Nulla pulvinar neque orci.
          Vestibulum laoreet bibendum est et scelerisque.
          Sed blandit feugiat ultrices. Nulla quis ex tempus enim pellentesque sodales.
          Vestibulum lacinia est arcu, nec egestas ipsum tempus eget.
          Aliquam lacinia nunc sed justo sagittis cursus.
          Vestibulum consectetur felis elit, a semper enim vulputate ut.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-blue text-white">Janvier 2015 <br/>-<br/> Aujourd'hui</p>
        </div>
        <div class="col-md-10">
          <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          Morbi vitae leo turpis. In fringilla tempor diam, eget elementum quam vehicula gravida.
          Mauris et libero arcu. Nulla pulvinar neque orci.
          Vestibulum laoreet bibendum est et scelerisque.
          Sed blandit feugiat ultrices. Nulla quis ex tempus enim pellentesque sodales.
          Vestibulum lacinia est arcu, nec egestas ipsum tempus eget.
          Aliquam lacinia nunc sed justo sagittis cursus.
          Vestibulum consectetur felis elit, a semper enim vulputate ut.
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div id="supplementaires">
      <h1 class="text-center">Loisirs</h1>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Sports</p>
        </div>
        <div class="col-md-10">
          <ol>
            <li>Vélo</li>
            <li>Roller/Slalom</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Culture</p>
        </div>
        <div class="col-md-10">
          <ol>
            <li>Lecture (Anglais/Français)</li>
            <li>Ciné/TV (Anglais/Français)</li>
            <li>Voyages à l'étranger</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Technologies</p>
        </div>
        <div class="col-md-10">
          <ol>
            <li>Autoformation sur les technologies web</li>
            <li>Expérimentation Raspberry Pi</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

