{% extends 'PortfolioBundle::layout.html.twig' %}

{% block title %}Anaïs Hervouin | Curriculum Vitae{% endblock %}
{% block head %}<link rel="alternate" href="http://www.anaishervouin.fr/curriculum-vitae" hreflang="fr" />{% endblock %}
{% block description %}Portfolio d'Anais Hervouin, ingénieur en technologie de l'information.
Voici mon curriculum vitae en ligne présentant mes expériences et mes compétences dans le domaine du web.
Cette version sera également disponible sous format imprimable prochainement.{% endblock %}
{% block keywords %}
Anais, Hervouin, Anais Hervouin, Hervouin Anais, Anaïs, Anaïs Hervouin, Hervouin Anaïs, création web, créateur web, informatique,
Portfolio, Programmation web, Portfolio, E-Portfolio, Portfolio en ligne, web, internet, page internet, pages internet,
PHP, Drupal, Symfony, Ingénieur, Ingénieur en technologie de l'information, CV,
expériences, Montpellier, curriculum vitae,expériences, compétences, PHP, jQuery, HTML, CSS, développement, développeur, développeur web
{% endblock %}

{% block container %}
  <div id="page-column-onethird-twothird" class="container">
    <div id="summary" class="lead">
      <h1 class="text-center">Mon ambition</h1>
      Développeuse web PHP avec un profil Full stack en recherche de challenge sur divers projets.<br/>
      Mon objectif sur le long terme, est de pouvoir partager mon expérience en devenant experte technique.
    </div>
    <hr/>
    <div id="experiences" class="border_black">
      <h1 class="text-center">Expériences </h1>
      <div class="row margin_bottom">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Aujourd'hui<br/>-<br/>Janvier 2015</p>
        </div>
        <div class="col-md-10 border_left">
          <h3 class="no_margin">CGI France <br/><small>Ingénieur en technologie de l'information</small></h3>
          <br/>
          <p>
           <b>Analyse :</b>
            Etude des besoins fonctionnelles et techniques pour proposer
            les solutions adéquates et un chiffrage détaillé.
          </p>
          <p>
            <b>Conception :</b>
            Elaboration de spécifications fonctionnelles et techniques détaillées
            sur les fonctionnalités à mettre en place.
          </p>
          <p>
            <b>Développement :</b>
            Gestion des développements en collaboration avec les membres du projet.
          </p>
          <p>
            <b>Tests :</b>
            Ecriture et mise en pratique de cas de tests élaborés sur les différentes fonctionnalités terminées.
          </p>
          <p>
            <b>Gestion de projet :</b>
            <ul>
              <li>Reporting des tâches</li>
              <li>Gestion client des besoins fonctionnels et techniques.</li>
              <li>Encadrement des développeurs.</li>
              <li>Back-up du chargé de projet en son absence.</li>
              <li>Référence technique et fonctionnelle sur les projets</li>
            </ul>
          </p>
          <p>
            <b>Projet(s) concerné(s) :</b>
            <ul>
              <li>DCNS Navista - Intranet</li>
              <li>LeasePlanGo Build</li>
              <li>DGFIP-Hermès</li>
              <li>BesmartByCofinoga</li>
              <li>Cofinoga</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row margin_bottom">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Décembre 2014 <br/>-<br/> Juillet 2013</p>
        </div>
        <div class="col-md-10 border_left">
          <h3 class="no_margin">CGI France <br/><small>Analyste Programmeur</small></h3>
          <br/>
          <p>
           <b>Analyse :</b>
            Etude des besoins fonctionnelles et techniques pour proposer
            les solutions adéquates et un chiffrage détaillé.
          </p>
          <p>
            <b>Conception :</b>
            Elaboration de spécifications fonctionnelles et techniques détaillées
            sur les fonctionnalités à mettre en place.
          </p>
          <p>
            <b>Développement :</b>
            Gestion des développements en collaboration avec les membres du projet.
          </p>
          <p>
            <b>Tests :</b>
            Ecriture et mise en pratique de cas de tests élaborés sur les différentes fonctionnalités terminées.
          </p>
          <p>
            <b>Gestion de projet :</b>
            <ul>
              <li>Reporting des tâches</li>
              <li>Back-up du chargé de projet en son absence.</li>
            </ul>
          </p>
          <p>
            <b>Projet(s) concerné(s) :</b>
            <ul>
              <li>BesmartByCofinoga</li>
              <li>Cofinoga</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row margin_bottom">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Juin 2013 <br/>-<br/> Février 2013</p>
        </div>
        <div class="col-md-10 border_left">
          <h3 class="no_margin">CGI France <br/><small>Stagiaire en développement web PHP</small></h3>
          <br/>
          <p>
            Stage effectué dans le cadre de l'obtention de mon dipôme en
            Licence Professionnelle Assistant de Projet Informatique - Développement Application E-Business.
          </p>
          <p>
            <b>Développement :</b>
             Développement de fonctionnalités web avec PHP.
          </p>
          <p>
            <b>Projet(s) concerné(s) :</b>
            <ul>
              <li>BesmartByCofinoga</li>
              <li>Toulouse Business School</li>
            </ul>
          </p>
        </div>
      </div>
      <div class="row margin_bottom">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Mai 2012 <br/>-<br/> Février 2012</p>
        </div>
        <div class="col-md-10 border_left">
          <h3 class="no_margin">Pep's Multimédia <br/><small>Stagiaire en développement web ASP.NET</small></h3>
          <br/>
          <p>
            Stage effectué dans le cadre de l'obtention de mon dipôme en DUT Informatique.
          </p>
          <p>
            <b>Développement :</b>
             Développement de fonctionnalités web avec ASP.NET.
          </p>
          <p>
            <b>Projet(s) concerné(s) :</b>
            <ul>
              <li>Aigue Immobilier</li>
              <li>Zen Esthétique</li>
              <li>Bavaria Languedoc</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div id="competences">
      <h1 class="text-center">Compétences</h1>
      <h2 class="text-center"><small><strong>Développement</strong></small></h2>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>PHP</h3>
          <div class="canvas-medium center-block">
            <canvas id="PHP" width="200" height="200" data-maitrise="90"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Drupal (7-8)</h3>
          <div class="canvas-medium center-block">
            <canvas id="Drupal" width="200" height="200" data-maitrise="75"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Symfony (2-3)</h3>
          <div class="canvas-medium center-block">
            <canvas id="Symfony" width="200" height="200" data-maitrise="60"></canvas>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>JQuery</h3>
          <div class="canvas-medium center-block">
            <canvas id="JQuery" width="200" height="200" data-maitrise="90"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Javascript</h3>
          <div class="canvas-medium center-block">
            <canvas id="Javascript" width="200" height="200" data-maitrise="80"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Ajax</h3>
          <div class="canvas-medium center-block">
            <canvas id="Ajax" width="200" height="200" data-maitrise="80"></canvas>
          </div>
        </div>
      </div>
      <hr>
      <h2 class="text-center"><small><strong>Intégration</strong></small></h2>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>HTML 5</h3>
          <div class="canvas-medium center-block">
            <canvas id="HTML" width="200" height="200" data-maitrise="90"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h3>CSS 3</h3>
          <div class="canvas-medium center-block">
            <canvas id="CSS" width="200" height="200" data-maitrise="90"></canvas>
          </div>
        </div>
        <div class="col-md-4">
          <h3>Less</h3>
          <div class="canvas-medium center-block">
            <canvas id="Less" width="200" height="200" data-maitrise="50"></canvas>
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <h3>Bootstrap</h3>
          <div class="canvas-medium center-block">
            <canvas id="Bootstrap" width="200" height="200" data-maitrise="50"></canvas>
          </div>
        </div>
      </div>
    </div>
    <hr/>
    <div id="formations">
      <h1 class="text-center">Formations</h1>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-blue text-white">Février 2017</p>
        </div>
        <div class="col-md-10">
          <h3 class="no_margin">Formation interne CGI - Symfony 3 débutant et intermédiaire.</h3>

          <p>
            Formation permettant de comprendre et d'appliquer les bonnes pratiques de développements et les bases de Symfony 3.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-blue text-white">Novembre 2016</p>
        </div>
        <div class="col-md-10">
          <h3 class="no_margin">Formation interne CGI - Argumenter pour convaincre</h3>

          <p>
            Formation permettant de comprendre les outils pour convaincre lors d'un débat, d'une discussion...
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-blue text-white">Octobre 2013</p>
        </div>
        <div class="col-md-10">
          <h3 class="no_margin">Formation interne CGI - Développeur Drupal 7</h3>
          <p>
            Formation permettant de comprendre le développement sous Drupal 7 (base et avancé).
          </p>
        </div>
      </div>
    </div>
    <hr/>
    <div id="supplementaires">
      <h1 class="text-center">Loisirs</h1>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Sports</p>
        </div>
        <div class="col-md-10">
          <ol class="no_padding">
            <li>Vélo</li>
            <li>Roller/Slalom</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Culture</p>
        </div>
        <div class="col-md-10">
          <ol class="no_padding">
            <li>Lecture (Anglais/Français)</li>
            <li>Ciné/TV (Anglais/Français)</li>
            <li>Voyages à l'étranger</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <p class="text-center background-green text-white">Technologies</p>
        </div>
        <div class="col-md-10">
          <ol class="no_padding">
            <li>Autoformation sur les technologies web</li>
            <li>Expérimentation Raspberry Pi</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  {% include 'PortfolioBundle::inc/javascript.assetics.html.twig' %}
{% endblock %}

